


@font-face {
  font-family: 'Coolvetica';
  src: url('../src/assets/fonts/coolvetica\ rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'La Bele Aurore';
  src: url('../src/assets/fonts/LaBelleAurore-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html{
  font-size: 62.5%;
}


body {
  margin: 0;
  font:  112px/1.5 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #4e4851;
  color: #000;
  overflow: scroll;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'poppins', sans-serif;
}
